body {
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  height: calc(100vh - 2.5rem);
}

.calculator {
  width: 90%;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.9rem;
  background-color: rgba(#fff, .4);
  padding: 1.6em 2em;

  &__screen {
    background-color: rgba(#000, .8);
    color: #fff;
    padding: 1rem;
    margin-bottom: .25rem;
    border-radius: .25rem;text-align: right;
    font-size: 1.8em;
  }

  &__keys {
    display: grid;
    gap: .25rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    :first-child {
      height: 0;
      padding-bottom: 100%;
    }
  }

  button {
    border: none;
    padding: 0;
    font-size: 1.5em;
    background-color: rgba(#fff, .4);
    font-weight: 700;
    color: rgba(#000, .67);
    cursor: pointer;

    
    &:hover {
      background-color: rgba(#fff, .65);
    }
  }

  [data-math='suma'],
  [data-operation='equals'] {
    grid-row: span 2;
  }

  [data-number='0'] {
    grid-column: span 2;
  }

  [data-operation='clear'] {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(#fff, .2);
  }
}