body {
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  height: calc(100vh - 2.5rem);
}

.calculator {
  width: 90%;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.9rem;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1.6em 2em;
}
.calculator__screen {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  text-align: right;
  font-size: 1.8em;
}
.calculator__keys {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.calculator__keys :first-child {
  height: 0;
  padding-bottom: 100%;
}
.calculator button {
  border: none;
  padding: 0;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.67);
  cursor: pointer;
}
.calculator button:hover {
  background-color: rgba(255, 255, 255, 0.65);
}
.calculator [data-math=suma],
.calculator [data-operation=equals] {
  grid-row: span 2;
}
.calculator [data-number="0"] {
  grid-column: span 2;
}
.calculator [data-operation=clear] {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

/*# sourceMappingURL=styles.css.map */
